@page "/projeto/{id}"
@using Core.Entities
@inject Core.Interfaces.IService Service

@if (Project is null)
{
    <p>
        <em>Carregando...</em>
    </p>
}
else
{
    <article class="container mt-5">
        <h1>@Project.Name</h1>
        <h2>@Project.Description</h2>
        <p style="white-space: pre-line;" class="text-justify">@Project.TextBody</p>

        <h2>Referências</h2>
        <ul>
            @foreach (var reference in Project.References)
            {
                <li>@reference.ToString()</li>
            }
        </ul>

        <h2>Membros do grupo</h2>
        <ul>
            @foreach (var member in Project.Group.GroupMembers)
            {
                <li class="m-2">
                    Nome: @member.Name
                    <br/>
                    Papel: @member.Role
                </li>
            }
        </ul>
    </article>
}


@code {

    [Parameter]
    public string Id { get; set; }

    private Project? Project { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var idAsGuid = Guid.Parse(Id);
            Project = await Service.GetProjectByIdAsync(idAsGuid);
        }
        catch (Exception e)
        {
            Project = null;
        }
    }

}

```